/* General styles */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}
/* 
body {
  background-image: linear-gradient(to bottom right, red, yellow);
} */

.full-width-table {
  width: 100%;
}
.mat-row {
  cursor: pointer;
}
.mat-row:hover {
  background-color: beige;
}

.example-spacer {
  flex: 1 1 auto;
}

example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.md-display-1 {
  font-family: "Roboto";
  font-size: 48
}

.strikethrough {
  text-decoration: line-through;
}

.footer-text {
  font-family: "Roboto";
  font-size: 6
}